requests==2.31.0
python-dotenv==1.0.0
undetected-chromedriver==3.5.2
selenium==4.11.2
polars==0.18.15
pyarrow==13.0.0
XlsxWriter==3.1.2
xlsx2csv==0.8.1
pandas==2.0.3
pyinstaller==5.13.0
xlwings==0.30.12
scrapy
beautifulsoup4
openpyxl